.card{
    font-size: 1.8rem;
    font-weight: bold;
    color:black ;
    -webkit-text-stroke: 0.03em black;
}

.boton {
    background-position: right;
    background: black; 
    border: none;
    width: 2rem;
    height: 2rem;
    color: red;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 0rem; 
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 100rem;
    text-decoration:double;
    text-transform: uppercase;
}

.boton:hover {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}




.cards{
    width: auto;
    height: auto;
    border-radius: 1rem;
    border: 0.4rem solid silver;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, greenyellow, turquoise);
    color: #000000;
    font-size: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.text{
    color: red;
}

.favorite{
    color: greenyellow;
    background-color: black;
    border: solid #2e518b; /*anchura, estilo y color borde*/
    padding: .5rem; /*espacio alrededor texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    cursor: pointer;
}
.favorite:hover{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}