.card{
    font-size: 1.8rem;
    font-weight: bold;
    color:black ;
    -webkit-text-stroke: 0.03em black;
}

.boton{

    color: black;
    font-size: x-large;
    background-color: blueviolet;
    border: 0.1rem solid white; /*anchura, estilo y color borde*/
    padding: .3rem; /*espacio alrededor texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  /*tipografía texto*/
    border-radius: 8rem;;
}

.cardDisplay{
    display: flex;
    flex-wrap: wrap; 
    justify-content: initial;
}

.cards{
    width: auto;
    height: auto;
    border-radius: 1rem;
    border: 0.4rem solid silver;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, greenyellow, turquoise);
    color: #000000;
    font-size: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.text{
    color: red;
}